<a href="https://colab.research.google.com/github/santhu1999/demorepo/blob/main/Assignment_1_to_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Simple** **Calculator**

In [ ]:
#python code for simple calculator

#take inputs
num1 = float(input("Enter a number"))
num2 = float(input("Enter a number"))
#choose operations
print('operation: +, -, *, /')
# input operation
select = input("select operations:")
#addition
if select == "+":
  print(num1,"+",num2,"=",num1+num2)
# subtraction
elif select == "-":
  print(num1,'-',num2,'=',num1-num2)
#multiplication
elif select == "*":
  print(num1,'*',num2,'=',num1*num2)
#division
elif select == "/":
  print(num1,'/',num2,'=',num1/num2)
else:
  print("Invalid number")

Enter a number6
Enter a number7
operation: +, -, *, /
select operations:+
6.0 + 7.0 = 13.0

**Area** **of** **Rectangle**

In [ ]:
#take inputs 
length = float(input('Enter the length of Rectangle'))
width = float (input('Enter the width of Rectangle'))
#calculate area
Area = length * width
#print area
print("The area of Rectangle is",Area)

Enter the length of Rectangle89
Enter the width of Rectangle89
The area of Rectangle is 7921.0

**Area** **of** **circle**

In [ ]:
#assign pi value
pi = 3.14
#take input radius
radius = float(input("Enter the radius of circle"))
#calculate area
area = pi*radius*radius
#print area
print('The area of circle is',area)

Enter the radius of circle45
The area of circle is 6358.500000000001

**List** **Mutablity**

In [ ]:
#define list
new_list = [1, 2,3,'one','two','three']
#print list
print(new_list)
#change content in list
new_list[2] = 5
#print list
print(new_list)

[1, 2, 3, 'one', 'two', 'three']
[1, 2, 5, 'one', 'two', 'three']

In [ ]:
new_list = [1, 2,3,'one','two','three']
print(new_list)
new_list.append ('five')
print(new_list)

[1, 2, 3, 'one', 'two', 'three']
[1, 2, 3, 'one', 'two', 'three', 'five']

In [ ]:
new_list = [1, 2,3,'one','two','three']
print(new_list)
new_list.insert (6,'six')
print(new_list)

[1, 2, 3, 'one', 'two', 'three']
[1, 2, 3, 'one', 'two', 'three', 'six']

**Tuple** **mutuablity** **test**

In [ ]:
#define tuple
 = (1,2, 3,4,'one','two','three','fore')
 #print tuple
print(new_tuple)
new_tuple[2] = "six" #error

IndentationError: ignored

**Conversion from list to tuples**

In [ ]:
#define list
new_list = [1,2,3,'one','two','three']
#print list
print(new_list)
print(type(new_list))

#converting list to tuple
new_tuple = tuple(new_list)
print(new_tuple)
#check type 
print(type(new_tuple))

[1, 2, 3, 'one', 'two', 'three']
<class 'list'>
(1, 2, 3, 'one', 'two', 'three')
<class 'tuple'>

**Tuple** **to** **list**

In [ ]:
#define tuple
new_tuple = 1,2,3,'one','two','three'
#print tuple
print(new_tuple)
print(type(new_tuple))

#converting tuple to list
new_list = list(new_tuple)
print(new_list)
#check type 
print(type(new_list))

(1, 2, 3, 'one', 'two', 'three')
<class 'tuple'>
[1, 2, 3, 'one', 'two', 'three']
<class 'list'>

**Convert** **Float** **to** **integer**

In [ ]:
#float
a = 5.0
print(a)
#check type
print(type(a))
#conversion float to int
b = int(a)
print(b)
print(type(b))

5.0
<class 'float'>
5
<class 'int'>

**Int** **to** **Float**

In [ ]:
#int
a = 5
print(a)
print(type(a))
#type conversion
b = float(a)#float
print(b)
print(type(b))

5
<class 'int'>
5.0
<class 'float'>

**Assignment** **2**

list Slicing

In [ ]:
#define list
new_list = [1,2,3,'four','five','six','seven']
print(new_list)
# slicing list
print(new_list[:3])
print(new_list[3:4])

[1, 2, 3, 'four', 'five', 'six', 'seven']
[1, 2, 3]
['four']

**concatenate** **two** **strings**

In [ ]:
#define two list
list_first = ['Three',' hundred']
print(list_first)
list_second = ['sixty','five']
print(list_second)
# combine two list
list_combined = list_first + list_second
print(list_combined)

['Three', ' hundred']
['sixty', 'five']
['Three', ' hundred', 'sixty', 'five']

**Sort** **a** **list**

In [ ]:
new_list =[3,2,5,6,7,1,2,3,9,78,5,64,5,3,4,45,5,]
print(new_list)
print("the sorted list")

new_list.sort()
print(new_list)

[3, 2, 5, 6, 7, 1, 2, 3, 9, 78, 5, 64, 5, 3, 4, 45, 5]
the sorted list
[1, 2, 2, 3, 3, 3, 4, 5, 5, 5, 5, 6, 7, 9, 45, 64, 78]

**list**. /extend/append/remove/insert/pop

In [ ]:
#define list
new_list = [1,2,3,4,'five','six','seven']
print(new_list)
#operations
print('operations:- append, extend, insert, remove, pop')
#select
select = input('select operations')
#append
if select == 'append':
  new_list.append("eight")
  print(new_list)
#extend
elif select == 'extend':
  new_list.extend(['these are numbers'])
  print(new_list)
#insert
elif select == 'insert':
  new_list.insert(2,'hi insert')
  print(new_list)
#remove
elif select == 'remove':
  new_list.remove('five')
  print(new_list)
#pop
elif select == 'pop':
  new_list.pop(2)
  print(new_list)

[1, 2, 3, 4, 'five', 'six', 'seven']
operations:- append, extend, insert, remove, pop
select operationsinsert
[1, 2, 'hi insert', 3, 4, 'five', 'six', 'seven']

**Assignment** **3**

Reverse a number

In [ ]:
num = 12345
print(num)
print("The reverse number are")
print(str(num)[::-1])

12345
The reverse number are
54321

**Armstrong** **no**

In [ ]:
#input
num = int(input("enter the number"))
#initialize sum
sum = 0
temp = num
#find sum of the cube of each digit
while temp > 0:
  digit = temp % 10
  sum += digit ** 3
  temp //= 10
if num == sum:#print result
  print(num,"is Armstrong no")
else:
  print(num,"is not Armstrong no")

enter the number567
567 is not Armstrong no

 **Palindrome** **no**

In [ ]:
# function return reverse of a string
def isPalindrome(s):
	return s == s[::-1]
  
#user input
s = input("enter a character")
ans = isPalindrome(s)

if ans:
	print("palindrome")
else:
	print("Not palindrome")

enter a character2002
palindrome

**Fibonacci Sequence**

In [ ]:
nterms = int(input("how many terms"))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
  print("please Enter a positive number")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

how many terms10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

**Factorial** **of** **a** **number**

In [ ]:
# factorial of a number
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
num = int(input("enter a number"))

result = factorial(num)
print("The factorial of", num, "is", result)

enter a number45
The factorial of 45 is 119622220865480194561963161495657715064383733760000000000